[Unit]
Description=xsschat.com express.js server

[Service]
Type=simple
ExecStart=/usr/local/bin/node /sites/xsschat.com/index.js
WorkingDirectory=/sites/xsschat.com/

User=webmaster

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target