* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

#overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    transition: all 0.3s;
}

#overlay > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#joinform * {
    display: block;
    margin: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > .container {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

#canvas {
    height: 100%;
    overflow-y: scroll;
    white-space: normal;
}

#canvas::-webkit-scrollbar {display: none;}

#history {
    position: absolute;
    right:0;
    top:0;
    margin-right: -250px;
    width: 250px;
    height: 100%;
    background-color: #eee;
    transition: all 0.3s;
    z-index: 25;
    filter: drop-shadow(0px 7px 7px rgba(0,0,0,0.2));
}
#history:hover {
    margin-right: 0;
}

#history > .grabber {
    --grabber-width: 75px;
    position: relative;
    width: var(--grabber-width);
    height: var(--grabber-width);
    left: calc(-1*0.5*var(--grabber-width));
    top: 25px;
    border-radius: calc(0.5*var(--grabber-width));
    background-color: #eee;
    z-index: 20;
}

#chats {
    width: 100%;
    height: 100%;
}

li {
    padding: 15px;
    white-space: normal;
}

#scripts {
    display: none;
}

#msgform {
    display: flex;
    gap: 20px;
    padding: 15px;
    background-color: #efefef;
    z-index: 50;
    filter: drop-shadow(0px 5px 7px rgba(0,0,0,0.2));
}

#message {
    width: 80%;
}

#msgform button {
    flex: 1;
}









/*
#msgform {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    z-index: 0;
}
*/
#input:focus {
    outline: none;
}

#chats>li:nth-child(even) {
    background-color: #fff;
}
#chats>li:nth-child(odd) {
    background-color: #eee;
}