* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    color: #eee;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #ffa500;
    line-height: 1em;
}

#overlay {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #222;
    z-index: 100;
    transition: all 0.7s;
}

#overlay .container >* {
    text-align: center;
    margin: 20px auto;
}

#overlay > .container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#joinform * {
    display: block;
    margin: 15px auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #191919;
}

body > .container {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

#canvas {
    height: 100%;
    overflow-y: scroll;
    white-space: normal;
    scroll-behavior: smooth;
}

#canvas::-webkit-scrollbar {display: none;}

#history {
    position: absolute;
    right:0;
    top:0;
    margin-right: -350px;
    width: 350px;
    height: 100%;
    background-color: #444;
    transition: all 0.3s;
    z-index: 25;
    filter: drop-shadow(0px 7px 7px rgba(0,0,0,0.2));
}
#history:hover {
    margin-right: 0;
}

#history > .grabber {
    --grabber-width: 75px;
    position: relative;
    width: var(--grabber-width);
    height: var(--grabber-width);
    left: calc(-1*0.5*var(--grabber-width));
    top: 25px;
    border-radius: calc(0.5*var(--grabber-width));
    background-color: #444;
    z-index: 20;
}

#chats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    padding: 15px;
    white-space: normal;
}

#scripts {
    display: none;
}

#msgform {
    display: flex;
    gap: 20px;
    padding: 15px;
    background-color: #333;
    z-index: 50;
    filter: drop-shadow(0px 5px 7px rgba(0,0,0,0.2));
    align-items: center;
}

input {
    flex: 1;
    border: 0;
    font-size: 1em;
    padding: 1em 1.25em;
    border-radius: 2em;
    background-color: #666;
    outline-color: black;
}

#msgform button {
    font-size: 1em;
    padding: 1em 1.25em;
    border-radius: 2em;
    background-color: #57e;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

#toggle {
    display: none;
    width: 0px;
    height: 0;
}

#msgform label {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 15px;
    position: relative;
    transition: all 0.3s;
}

#msgform label:after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    width: 27px;
    height: 27px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#msgform input:checked + label {
    background-color: #57e;
}

input:checked + label:after {
    left:100%;
    transform: translateX(110%);
}








/*
#msgform {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    z-index: 0;
}
*/
#input:focus {
    outline: none;
}

#chats>li:nth-child(even) {
    background-color: #222;
}
#chats>li:nth-child(odd) {
    background-color: #333;
}